<article class="col-xs-12">
    <header>
        <h1>Html5 Geolocation</h1>
    </header>
    <h1>Html5 Geolocation Distance Tracker</h1>
    <p id="status">Html5 Geolocation is <strong>not</strong> support in your browser.</p>
    <h2>Current Position: </h2>
    <table border="1">
        <tr>
            <th width="50" scope="col">Latitude</th>
            <td width="200" id="latitude">?</td>
        </tr>
        <tr>
            <td>Longitude</th>
                <td id="longitude">?</td>
        </tr>
        <tr>
            <td>Accuracy</th>
                <td id="accuracy">?</td>
        </tr>
        <tr>
            <td>Last Timestamp</th>
                <td id="timestamp">?</td>
        </tr>
    </table>
    <h4 id="currDist">Current distance traveled: 0.0 km</h4>
    <h4 id="totalDist">Total distance traveled: 0.0km</h4>
    <footer>
        <h2>Article footer</h2>
    </footer>
</article>